html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background-image:url('../../../imagenes/imagen.jpg');
	background-repeat: no-repeat;
	height: 100%;
}
.clear{
	clear: both;
}
header{
	width: 100%;
	height: 20%;
}
.banner{
	width: 245px;
	height: 56px;
	position: relative;
	top: 60px;
	left: 0;
}
.logo{
	height: 140px; 
	width: 130px; 
	position: relative; 
	top: 21px; 
	left: 1px;
}
/**** MENU ***/
nav{
	float: left;
	width: 20%;
	background-image: url('../../../imagenes/bannerlateral.png');
	background-size: cover;
	height: 80%;
}
ul{
	margin: 0;
	padding: 0;
}
ul  li{
	list-style: none;
	width: 80%;
	padding: 10px;
	margin: 5px auto;
	
}
ul li a{
	padding: 15px;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 22px;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}

a.button {
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite; 
}

.green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s; }
.blue.button { -webkit-animation-name: bluePulse; -webkit-animation-duration: 4s; }
.red.button { -webkit-animation-name: redPulse; -webkit-animation-duration: 1s; }
.magenta.button { -webkit-animation-name: magentaPulse; -webkit-animation-duration: 2s; }
.orange.button { -webkit-animation-name: orangePulse; -webkit-animation-duration: 3s; }

.wall-of-buttons { text-align: center; margin-top: 2em; margin-bottom: 2em; }

/**** CONTENIDO ****/
.contenido{
	float: left;
	background-color: white;
	width: 76%;
	height: 80%;
	margin: 0 0 0 4%;
	background: rgb(198,198,198); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(198,198,198,1) 1%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 59%, rgba(211,211,211,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(198,198,198,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(59%,rgba(255,255,255,1)), color-stop(99%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 1%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 59%,rgba(211,211,211,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(198,198,198,1) 1%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 59%,rgba(211,211,211,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(198,198,198,1) 1%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 59%,rgba(211,211,211,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(198,198,198,1) 1%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 59%,rgba(211,211,211,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */

}
.txt_informate{
	width: 90%;
	margin: 20px auto;
	font-size: 15px;
	font-family: times;
	
}
.fondo_flor{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
}