html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background-image:url('../../../imagenes/imagen.jpg');
	background-repeat: no-repeat;
	height: 100%;
}
.clear{
	clear: both;
}
header{
	width: 100%;
	height: 20%;
}
.banner{
	width: 245px;
	height: 56px;
	position: relative;
	top: 60px;
	left: 0px;
}
.logo{
	height: 140px; 
	width: 130px; 
	position: relative; 
	top: 21px; 
	left: 1px;
}
/**** MENU ***/
nav{
	float: left;
	width: 20%;
	background-image: url('../../../imagenes/bannerlateral.png');
	background-size: cover;
	height: 80%;
}
ul{
	margin: 0;
	padding: 0;
}
ul  li{
	list-style: none;
	width: 80%;
	padding: 10px;
	margin: 5px auto;
	
}
ul li a{
	padding: 15px;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 22px;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}

a.button {
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite; 
}

.green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s; }
.blue.button { -webkit-animation-name: bluePulse; -webkit-animation-duration: 4s; }
.red.button { -webkit-animation-name: redPulse; -webkit-animation-duration: 1s; }
.magenta.button { -webkit-animation-name: magentaPulse; -webkit-animation-duration: 2s; }
.orange.button { -webkit-animation-name: orangePulse; -webkit-animation-duration: 3s; }

.wall-of-buttons { text-align: center; margin-top: 2em; margin-bottom: 2em; }

/**** CONTENIDO ****/
.contenido{
	float: left;
	background-color: white;
	width: 76%;
	height: 80%;
	margin: 0 0 0 4%;
	background-image: url('../Imagenes/fondo.png');
	background-size: cover;
}
/*nuestra unordered list*/
ul.efectos {
	position:relative;
	margin:0;
	padding:0;
	height: 100%;
}
/*elementos de la lista con sombra y un marco blanco*/
ul.efectos li {
	/*background:#d1d694 url(../img/efecto-fondo.jpg) no-repeat center center;*/
	background: black;
	position:relative;
	list-style:none;
	width:40%;
	height:29%;
	overflow:hidden;
	float:left;
	-webkit-box-shadow:0 0 10px #333;
	-moz-box-shadow:0 0 10px #333;
	-ms-box-shadow:0 0 10px #333;
	-o-box-shadow:0 0 10px #333;
	box-shadow:0 0 10px #333;
	margin:15px 5%;
	padding:0
}

ul.efectos li img {
	/*z-index:30;*/
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	-webkit-transition:all .7s ease-out;
	-moz-transition:all .7s ease-out;
	-ms-transition:all .7s ease-out;
	-o-transition:all .7s ease-out
}

ul.efectos li:hover img {
	-webkit-transform:scale(6);
	-moz-transform:scale(6);
	-ms-transform:scale(6);
	-o-transform:scale(6);
	opacity:0
}

ul.efectos li h2 {
	font-size:12px;
	color:#fff;
	line-height:1.5em;
	letter-spacing:.1em;
	text-align:center;
	text-transform:uppercase;
	-webkit-transition:all .5s ease-in;
	-webkit-transform:scale(0.1);
	-moz-transition:all .5s ease-in;
	-moz-transform:scale(0.1);
	-ms-transition:all .5s ease-in;
	-ms-transform:scale(0.1);
	-o-transition:all .5s ease-in;
	-o-transform:scale(0.1);
	opacity:0;
	margin:0;
	padding:0
}

ul.efectos li:hover h2 {
	padding-top:25px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	opacity:1
}

ul.efectos li hr {
	width:0;
	color:#fff;
	background-color:#333;
	border:none;
	height:2px;
	-webkit-transition:all .6s linear;
	-moz-transition:all .6s linear;
	-ms-transition:all .6s linear;
	-o-transition:all .6s linear;
	margin:auto
}

ul.efectos li:hover hr {
	width:200px
}

ul.efectos li p {
	color: #fff;
	font-family:helvetica;
	text-transform:uppercase;
	font-size:12px;
	text-align:center;
	text-tranform:uppercase;
	-webkit-transition:all .6s ease-in;
	-webkit-transform:scale(0.1);
	-moz-transition:all .6s ease-in;
	-moz-transform:scale(0.1);
	-ms-transition:all .6s ease-in;
	-ms-transform:scale(0.1);
	-o-transition:all .6s ease-in;
	-o-transform:scale(0.1);
	opacity:0;
	margin:0;
	padding:15px
}

ul.efectos li:hover p {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	opacity:1
}

ul.efectos li a.boton {
	display:block;
	text-align:center;
	font-family:helvetica,
	position:relative;
	text-transform:uppercase;
	letter-spacing:.2em;
	text-decoration:none;
	font-size:12px;
	background:#333;
	color:#fff;
	width:200px;
	margin-left:125px;
	border:none;
	-webkit-transition:all .6s ease-in;
	-webkit-transform:translateY(230px) scale(5);
	-moz-transition:all .6s ease-in;
	-moz-transform:translateY(230px) scale(5);
	-ms-transition:all .6s ease-in;
	-ms-transform:translateY(230px) scale(5);
	-o-transition:all .6s ease-in;
	-o-transform:translateY(230px) scale(5);
	opacity:0;
	cursor:pointer;
	z-index:50;
	padding:4px
}

ul.efectos li:hover a.boton {
	-webkit-transform:translateY(0) scale(1);
	-moz-transform:translateY(0) scale(1);
	-ms-transform:translateY(0) scale(1);
	-o-transform:translateY(0) scale(1);
	opacity:1
}
